body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

		#legend {
			background: #1d1d1d;
			max-width: 300px;
			padding: 5px;
      position: fixed;
      top: 20px;
      left: 20px;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    }

    table {
      color: #eee;
    }

		td {
			min-width: 3px;
		}

		.price {
			padding-left: 5px;
		}

		.title {
			font-family: 'Oswald', sans-serif;
			margin: 0;
			margin-bottom: 5px;
		}

    #legend a{
      color: #ECECEC;
      font-weight: bold;
    }

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 13px;
  color: #eee;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  top: 20px;
  right: 20px;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #939799;
  color: #eee;
}

#menu a.active {
  background-color: #1d1d1d;
  color: #eee;
}

#menu a.active:hover {
  background: #939799;
}

.mapboxgl-popup-content {
  background: #1d1d1d;
  max-width: 300px;
  padding: 5px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #ECECEC;
}

#popup1 h2{
  font-family: 'Oswald', sans-serif;
}

#mapcountainer {
  width: 100%;
  height: 100%;
}
